<footer class="bg-primary text-white py-4 mt-5 border border-white">

    <div class="container-fluid text-center">

        <p class="mb-1 fw-bold">
            <i class="bi bi-car-front-fill"></i>
            FleetCard
        </p>

        <p class="mb-0 text-info">
            Sistema de Gestão de Veículos
        </p>

        <br>
        <hr class="text-primary w-100 m-0 ">

        <small class="text-info">
            © 2026 FleetCard - Projeto Integrador
        </small>

    </div>

    <!-- Linha separadora -->
<div class="border-top border-2 border-white mt-5"></div>


  

</footer>